<template>
	<div id="app">
		<h1>My Todo App!</h1>
		<TodoList/>
	</div>
</template>

<script>
import TodoList from './components/TodoList.vue'

export default {
	components: {
		TodoList
	}
}
</script>

<style lang="scss">
@import '~normalize.css/normalize.css';
@import './variables.scss';

*, *::before, *::after {
	box-sizing: border-box;

	&:focus {
    outline: none;
    box-shadow: 0 0 3px $vue-green;
	}
}

#app {
	max-width: 600px;
	margin: 0 auto;
	line-height: 1.4;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $vue-blue;
}

h1 {
	text-align: center;
}
</style>