<template>
  <div>
    <BaseInputText v-model="newTodoText" placeholder="New todo" @keydown.enter="addTodo"/>
    <ul v-if="todos.length">
      <!-- TODO use TodoListItem component -->
      <todo-list-item v-for="todo in todos" v-bind:todo="todo" v-bind:key="todo.id" @remove="removeTodo"/>
    </ul>

    <!-- TODO add default text -->
  </div>
</template>

<script>
import BaseInputText from "./BaseInputText.vue";
import TodoListItem from "./TodoListItem.vue";

let nextTodoId = 1;

export default {
  components: {
    BaseInputText,
    TodoListItem
  },
  data() {
    return {
      newTodoText: "",
      todos: [
        {
          id: nextTodoId++,
          text: "Implement addTodo"
        },
        {
          id: nextTodoId++,
          text: "Implement removeTodo"
        },
        {
          id: nextTodoId++,
          text: "Change delete icon"
        },
        {
          id: nextTodoId++,
          text: "Make list ordered"
        },
        {
          id: nextTodoId++,
          text: "Add priority attribute to todo object"
        },
        {
          id: nextTodoId++,
          text: "Style items based on priority"
        },
        {
          id: nextTodoId++,
          text: "Translate to монгол"
        },
        {
          id: nextTodoId++,
          text: "Add default text on empty list"
        },
        {
          id: nextTodoId++,
          text: "Create button to move item to top of list"
        },
        {
          id: nextTodoId++,
          text: "Change font"
        },
        {
          id: nextTodoId++,
          text: "Change colors"
        }
      ]
    };
  },
  methods: {
    addTodo() {
      if (this.newTodoText) {
        // TODO implement addTodo
        const newTodo = {
          id: this.todos.length + 1,
          text: this.newTodoText
        };

        this.todos.push(newTodo);
      }
    },
    removeTodo(idToRemove) {
      // TODO implement remove logic
      for(let i=0; i<this.todos.length; i++)
      {
        if(this.todos[i].id===idToRemove) 
          this.todos.splice(i, 1);
      }
    }
  }
};
</script>